// -----------------------------------------------------------------------------
// IMPORT GOOGLE FONTS
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

// -----------------------------------------------------------------------------
// GLOBAL STYLE VARIABLES
// -----------------------------------------------------------------------------

// COLORS ---
$matteBlack: #1a1a1a;
$globalPurple: #aa00ff;
$fluorescentGreen: #00e6ac;
$fluorescentRed: #ff5050;
$darkGreen: #476b6b;
$grey: #f2f2f2;

// FONT SIZES ---
$buttonFontSize: 16px;
$bigHeadingSize: 35px;

// FONT STYLES ---
$quicksand: 'Quicksand', sans-serif;
$sansSerif: 'Open Sans', sans-serif;

// BORDER STYLES ---
$noBorder: 1px solid white;

// -----------------------------------------------------------------------------
// STYLE IMPLEMENTATIONS
// -----------------------------------------------------------------------------

html {
  margin: 0px;
  overflow-x: hidden;
}

/* MAIN BANNER STYLES */
.mainBannerDiv {
  width: auto;
  height: 100vh;
  background-color: #f2f2f2;
}

.mountainPicDiv {
  width: auto;
  height: 400px;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url('../../images/mountains.jpg');
    background-size: 110%;
    background-position: center center;
    background-repeat: no-repeat;
  font-family: $sansSerif;
  color: white;
  font-size: $bigHeadingSize;
  padding: 170px 40px 40px 100px;
  text-align: center;
}

/* MEDIA QUERY FOR MAIN BANNER */

@media only screen and (max-width: 900px) {

  .mountainPicDiv {
    height: auto;
    padding: 60px 40px 40px 40px;
    background-size: 200%;
    text-align: left;
  }

}
/* END MEDIA QUERY FOR MAIN BANNER */

/* END MAIN BANNER STYLES */

/* NAVBAR STYLES */
.navDiv {
  width: auto;
  height: 80px;
  background-color: $grey;
  padding: 20px;
}

#headingLogo {
  float: left;
  display: inline-block;
  color: $fluorescentRed;
  font-size: 22px;
}

// NAVBAR CONTACT BUTTON
.contactMe {
  width: auto;
  height: auto;
  font-size: $buttonFontSize;
  background-color: $fluorescentRed;
  color: white;
  font-family: $quicksand;
  border : $noBorder;
  padding: 10px 20px;
  font-weight: bolder;
  float: right;
  transition: .5s;
  box-sizing: border-box;
  display: inline-block;
}

.contactMe:hover {
  background-color: white;
  color: $fluorescentRed;
  border: 1px solid $fluorescentRed;
  transition: .5s;
  box-sizing: border-box;
}
/* END NAVBAR STYLES */
