// VARIABLES
$matteBlack: #1a1a1a;
$globalPurple: #aa00ff;

html {
  margin: 0px;
  overflow-x: hidden;
}

/* MAIN BANNER STYLES */
.mainBannerDiv {
  width: auto;
  height: 100vh;
  background-color: $globalPurple;
}
