@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
html {
  margin: 0px;
  overflow-x: hidden; }

/* MAIN BANNER STYLES */
.mainBannerDiv {
  width: auto;
  height: auto;
  background-color: #f2f2f2; }

.mountainPicDiv {
  width: auto;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/mountains.jpg");
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 35px;
  padding: 170px 40px 40px 100px;
  text-align: center; }

.mainBannerButton {
  width: auto;
  height: auto;
  font-size: 16px;
  background-color: #339966;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  font-weight: bolder;
  transition: .5s;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; }

.mainBannerButton:hover {
  background-color: white;
  color: #ff5050;
  transition: .5s;
  box-sizing: border-box; }

.purpleDiv {
  width: auto;
  height: 85px;
  background-color: #1a1a1a;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif; }

.downArr {
  display: none;
  font-size: 60px; }

#subheading {
  font-size: 20px; }

#icanhelpyouregain {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px; }

.tagline {
  font-size: 35px;
  color: white;
  font-weight: bolder;
  display: inline-block;
  margin-top: -55px;
  margin-left: 110px; }

.a {
  /*display: none;*/
  opacity: 1;
  transition: 1s;
  position: absolute;
  animation: fadeA 8s infinite;
  -webkit-animation: fadeA 8s infinite; }

/*KEYFRAME FOR A*/
@keyframes fadeA {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.b {
  /*display: none;*/
  opacity: 1;
  transition: 1s;
  position: absolute;
  animation: fadeB 8s infinite;
  -webkit-animation: fadeB 8s infinite; }

/*KEYFRAME FOR B*/
@keyframes fadeB {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.c {
  /*display: none;*/
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeC 8s infinite;
  -webkit-animation: fadeC 8s infinite; }

/*KEYFRAME FOR C*/
@keyframes fadeC {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.d {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeD 8s infinite;
  -webkit-animation: fadeD 8s infinite; }

/*KEYFRAME FOR D*/
@keyframes fadeD {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.e {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeE 8s infinite;
  -webkit-animation: fadeE 8s infinite; }

/*KEYFRAME FOR E*/
@keyframes fadeE {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.f {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeF 8s infinite;
  -webkit-animation: fadeF 8s infinite; }

/*KEYFRAME FOR F*/
@keyframes fadeF {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* MEDIA QUERY FOR MAIN BANNER */
@media only screen and (max-width: 900px) {
  .mountainPicDiv {
    height: 500px;
    padding: 60px 40px 40px 40px;
    background-size: 350%;
    text-align: left;
    background-attachment: scroll; }

  .mainBannerButton {
    margin-left: 10px;
    margin-right: 0px; }

  .purpleDiv {
    height: 15vh; }

  #icanhelpyouregain {
    display: none; }

  .tagline {
    display: none; }

  .downArr {
    display: inherit; } }
/* END MEDIA QUERY FOR MAIN BANNER */
/* END MAIN BANNER STYLES */
/* NAVBAR STYLES */
.navDiv {
  width: auto;
  height: 80px;
  background-color: #f2f2f2;
  padding: 20px; }

#headingLogo {
  float: left;
  display: inline-block;
  color: #1a1a1a;
  font-size: 22px;
  font-weight: lighter; }

.contactMe {
  width: auto;
  height: auto;
  font-size: 14px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #1a1a1a;
  padding: 8px 15px;
  font-weight: bolder;
  float: right;
  transition: .5s;
  display: inline-block; }

.contactMe:hover {
  background-color: white;
  color: #ff5050;
  border: 1px solid #ff5050;
  transition: .5s;
  box-sizing: border-box; }

.socialUl {
  float: right;
  display: inline-block;
  list-style: none; }

.socialUlLi {
  display: inline-block;
  margin-right: 15px;
  font-size: 30px; }

.ham {
  float: right;
  font-size: 40px;
  display: none; }

#logo {
  width: 40px;
  margin-top: -8px; }

/* MEDIA QUERY FOR NAVBAR */
@media only screen and (max-width: 900px) {
  .socialUl {
    display: none; }

  .contactMe {
    display: none; }

  .ham {
    display: inherit; } }
/* END MEDIA QUERY FOR NAVBAR */
/* END NAVBAR STYLES */
/* ABOUT ME COMPONENT STYLES */
.aboutMeDiv {
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  padding-top: 80px;
  padding-bottom: 80px; }

.picDiv {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  border: 1px solid none;
  margin-bottom: 40px;
  background-image: url("../../images/tara.png");
  background-position: center center;
  background-size: 100%; }

#descriptionDiv {
  width: auto;
  height: auto;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 2em; }

.orangeBanner {
  width: auto;
  height: auto;
  background-color: #1a1a1a;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  color: white; }

#taraBlockquote {
  color: #1a1a1a; }

#freeReadingHeading {
  display: inline-block; }

#freereading {
  display: inline-block;
  width: auto;
  height: auto;
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  border: 2px solid #339966;
  margin-left: 40px;
  font-size: 25px;
  padding: 5px 20px;
  color: white; }

#freereading:hover {
  color: white; }

/* END ABOUT ME COMPONENT STYLES */
/* BOOK ME STYLES */
.bookMeDiv {
  width: auto;
  height: auto;
  background-color: #e6e6e6;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: bolder; }

#appthr {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%; }

.bookBox {
  width: 90%;
  height: auto;
  border: 1px solid #f2f2f2;
  padding: 40px;
  font-family: "Open Sans", sans-serif;
  color: black;
  transition: 1s;
  margin-bottom: 30px; }

.bookBox:hover {
  transition: 1s;
  background-color: white;
  color: #1a1a1a; }

.bookHr {
  width: 100%;
  border-color: black; }

#userIcon {
  font-size: 100px;
  color: #1a1a1a; }

#phoneIcon {
  font-size: 100px;
  color: #1a1a1a; }

.schedApptButton {
  width: auto;
  height: auto;
  border: 2px solid #1a1a1a;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  margin-top: 40px;
  padding: 10px 20px;
  transition: 1s; }

#leftButton {
  margin-top: 70px; }

.whatIsTarotDiv {
  width: auto;
  height: auto;
  background-color: white;
  padding: 80px 40px;
  font-family: "Open Sans", sans-serif;
  color: #1a1a1a;
  font-size: 20px;
  text-align: center;
  line-height: 2em; }

.bookBoxDesc {
  line-height: 2em;
  text-align: left; }

/* END BOOK ME STYLES */
/* FOOTER STYLES */
.footerDiv {
  width: auto;
  height: 400px;
  background-color: #1a1a1a; }

/* END FOOTER STYLES */
/* TAROT DIV STYLES */
.tarotAppDiv {
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  padding: 40px;
  font-family: "Open Sans", sans-serif; }

#dailyCardDiv {
  width: auto;
  height: auto;
  padding: 40px;
  background-color: white;
  box-shadow: 40px 10px 40px silver; }

#dailyCardHr {
  width: auto;
  border-color: grey;
  transition: 1s; }

#cardDescription {
  text-align: left;
  font-size: 16px;
  line-height: 2em; }

#dailyCardPic {
  width: 200px; }

#pickACardDiv {
  width: auto;
  height: auto;
  text-align: left;
  background-color: white;
  padding: 0px;
  box-shadow: 40px 10px 40px silver;
  color: black;
  position: absolute; }

.cardScrollDiv {
  width: auto;
  height: auto;
  overflow-x: scroll;
  padding: 20px;
  margin: 40px; }

.blackDiv {
  width: auto;
  height: auto;
  background-color: #339966;
  padding: 40px; }

.card {
  width: 80px;
  height: 120px;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  background-color: #133a26;
  background-image: url("https://i.pinimg.com/736x/9e/f2/0b/9ef20b9a5b725ebad6f6f3f9e31b22ad--third-eye-tarot-cards.jpg");
  background-size: 100%;
  background-position: center center;
  display: inline-block;
  margin: 2px;
  margin-left: -100px;
  transition: 1s;
  position: relative; }

.card:hover {
  background-color: #1a1a1a;
  vertical-align: bottom;
  transition: 2s;
  position: relative;
  bottom: 15px;
  -webkit-transition-delay: 1s;
  transition-duration: 2s; }

.showCardDiv {
  width: auto;
  height: 120px;
  padding: 20px; }

#adviceDiv {
  width: auto;
  height: auto;
  margin: 40px; }

#tarotCardArrayPic {
  width: 80px;
  height: 120px;
  display: inline-block; }

#tarotCardLi {
  display: inline-block; }

/* END TAROT DIV STYLES */

/*# sourceMappingURL=App.css.map */
