@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
html {
  margin: 0px;
  overflow-x: hidden; }

/* MAIN BANNER STYLES */
.mainBannerDiv {
  width: auto;
  height: 100vh;
  background-color: #f2f2f2; }

.mountainPicDiv {
  width: auto;
  height: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../../images/mountains.jpg");
  background-size: 110%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 40px;
  padding: 60px 40px 40px 100px; }

/* END MAIN BANNER STYLES */
/* NAVBAR STYLES */
.navDiv {
  width: auto;
  height: 80px;
  background-color: white;
  padding: 20px; }

/* MEDIA QUERY FOR MAIN BANNER */
@media only screen and (max-width: 690px) {
  .mountainPicDiv {
    height: auto;
    padding: 60px 40px 40px 40px;
    background-size: 200%; } }

/* END MEDIA QUERY FOR MAIN BANNER */
.contactMe {
  width: auto;
  height: auto;
  font-size: 18px;
  background-color: #ff5050;
  color: white;
  font-family: "Quicksand", sans-serif;
  border: 1px solid white;
  padding: 10px 20px;
  font-weight: bolder;
  float: right;
  transition: .5s; }

.contactMe:hover {
  background-color: white;
  color: #ff5050;
  border: 1px solid #ff5050;
  transition: .5s; }

/* END NAVBAR STYLES */
