@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
html {
  margin: 0px;
  overflow-x: hidden; }

/* MAIN BANNER STYLES */
.mainBannerDiv {
  width: auto;
  height: auto;
  background-color: #f2f2f2; }

.mountainPicDiv {
  width: auto;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../images/mountains.jpg");
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 35px;
  padding: 170px 40px 40px 100px;
  text-align: center; }

.mainBannerButton {
  width: auto;
  height: auto;
  font-size: 16px;
  background-color: #ff471a;
  color: white;
  font-family: "Quicksand", sans-serif;
  padding: 10px 20px;
  font-weight: bolder;
  transition: .5s;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px; }

.mainBannerButton:hover {
  background-color: white;
  color: #ff5050;
  transition: .5s;
  box-sizing: border-box; }

.purpleDiv {
  width: auto;
  height: 85px;
  background-color: #8000ff;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Quicksand", sans-serif; }

.downArr {
  display: none;
  font-size: 60px; }

#subheading {
  font-size: 20px; }

#icanhelpyouregain {
  display: inline-block;
  font-size: 20px;
  margin-top: 10px; }

.tagline {
  font-size: 35px;
  color: white;
  font-weight: bolder;
  display: inline-block;
  margin-top: -55px;
  margin-left: 110px; }

.a {
  /*display: none;*/
  opacity: 1;
  transition: 1s;
  position: absolute;
  animation: fadeA 8s infinite;
  -webkit-animation: fadeA 8s infinite; }

/*KEYFRAME FOR A*/
@keyframes fadeA {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.b {
  /*display: none;*/
  opacity: 1;
  transition: 1s;
  position: absolute;
  animation: fadeB 8s infinite;
  -webkit-animation: fadeB 8s infinite; }

/*KEYFRAME FOR B*/
@keyframes fadeB {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.c {
  /*display: none;*/
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeC 8s infinite;
  -webkit-animation: fadeC 8s infinite; }

/*KEYFRAME FOR C*/
@keyframes fadeC {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.d {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeD 8s infinite;
  -webkit-animation: fadeD 8s infinite; }

/*KEYFRAME FOR D*/
@keyframes fadeD {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.e {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeE 8s infinite;
  -webkit-animation: fadeE 8s infinite; }

/*KEYFRAME FOR E*/
@keyframes fadeE {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.f {
  display: none;
  opacity: 0;
  transition: 1s;
  position: absolute;
  animation: fadeF 8s infinite;
  -webkit-animation: fadeF 8s infinite; }

/*KEYFRAME FOR F*/
@keyframes fadeF {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* MEDIA QUERY FOR MAIN BANNER */
@media only screen and (max-width: 900px) {
  .mountainPicDiv {
    height: 500px;
    padding: 60px 40px 40px 40px;
    background-size: 350%;
    text-align: left;
    background-attachment: scroll; }
  .mainBannerButton {
    margin-left: 10px;
    margin-right: 0px; }
  .purpleDiv {
    height: 15vh; }
  #icanhelpyouregain {
    display: none; }
  .tagline {
    display: none; }
  .downArr {
    display: inherit; } }

/* END MEDIA QUERY FOR MAIN BANNER */
/* END MAIN BANNER STYLES */
/* NAVBAR STYLES */
.navDiv {
  width: auto;
  height: 80px;
  background-color: #f2f2f2;
  padding: 20px; }

#headingLogo {
  float: left;
  display: inline-block;
  color: #ff5050;
  font-size: 22px; }

.contactMe {
  width: auto;
  height: auto;
  font-size: 16px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #1a1a1a;
  padding: 8px 15px;
  font-weight: bolder;
  float: right;
  transition: .5s;
  display: inline-block; }

.contactMe:hover {
  background-color: white;
  color: #ff5050;
  border: 1px solid #ff5050;
  transition: .5s;
  box-sizing: border-box; }

.socialUl {
  float: right;
  display: inline-block;
  list-style: none; }

.socialUlLi {
  display: inline-block;
  margin-right: 15px;
  font-size: 30px; }

.ham {
  float: right;
  font-size: 40px;
  display: none; }

#logo {
  width: 50px;
  margin-top: -10px; }

/* MEDIA QUERY FOR NAVBAR */
@media only screen and (max-width: 900px) {
  .socialUl {
    display: none; }
  .contactMe {
    display: none; }
  .ham {
    display: inherit; } }

/* END MEDIA QUERY FOR NAVBAR */
/* END NAVBAR STYLES */
/* ABOUT ME COMPONENT STYLES */
.aboutMeDiv {
  width: auto;
  height: auto;
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px; }

.picDiv {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid black; }

#descriptionDiv {
  width: auto;
  height: auto;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 2em;
  font-weight: bolder; }

.orangeBanner {
  width: auto;
  height: 100px;
  background-color: white; }

/* END ABOUT ME COMPONENT STYLES */
